@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html {
  background-color: #2D893C;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Oxygen';
  background-color: white;
  border-radius: 1%;
}

.border-left {
  border-left: 3px #194d00 inset;
}

/* main title css start*/
.title {
  font-size: 50px;
  padding: 35px;
  text-align: center;
  font-weight: bold;
}

#rules-title h1 {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 50px;
  padding: 18px;
  text-align: center;
  font-weight: bold;
}

/* main title css end*/
/* title start */
#title#front {
  padding: 25px;
}

#title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 55px;
  color: black;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

#title img {
  width: 80px;
  height: 80px;
}

/* title end */
#title_bar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-color: #141904;
}

#title_bar .subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 16.66%;
}

#title_bar .subtitle a {
  color: white;
  text-decoration: none;
}

#title_bar .subtitle:hover {
  font-weight: bold;
}

#header {
  width: 100%;
  height: 500px;
  background-image: url("../img/design1_image1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#header img {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 400px;
  left: 70%;
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

#upcoming_events_header {
  background-color: #141904;
  color: white;
}

#upcoming_events_header h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
}

#video {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#upcoming_events {
  background-color: #ccffcc;
  padding: 30px 0;
  display: flex;
}

#upcoming_events .logo img {
  height: 90px;
  width: 100px;
  margin: 0 20px;
}

#upcoming_events .info {
  padding-left: 20px;
  margin-right: 30px;
  letter-spacing: 1px;
}

#upcoming_events .info span {
  font-size: 24px;
  font-weight: bold;
}

#upcoming_events .info h3 {
  font-size: 24px;
  padding: 20px 0 10px 0;
}


#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

footer {
  background-color: #194d00;
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
}

footer p {
  font-size: 18px;
  padding: 40px 0 0 0;
}

/* Rules list */
#rules_header {
  text-align: center;
}

#rules {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

/* game_info */
#title h2 {
  font-weight: bold;
  color: #0C5FE8;
}

#title p {
  text-decoration: underline;
  margin-bottom: 30px;
}

table.one .columns, table.two .columns {
  text-decoration: underline;
  font-weight: bold;
}

table.one {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: #67FF8B;
}

table.one td {
  border-bottom: 1px solid #cecfd5;
  padding: 10px 20px;
  text-align: left;
  height: 40px;
}

table.one th {
  padding: 10px 20px;
  width: 127px;
}

table.one:hover {
  transform: scale(1.1);
  background-color: #97FF8C;
}

table.two {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: #67FF8B;
}

table.two td {
  border-bottom: 1px solid #cecfd5;
  padding: 10px 20px;
  text-align: left;
  height: 40px;
}

table.two th {
  padding: 10px 20px;
  width: 127px;
}

table.two:hover {
  transform: scale(1.1);
  background-color: #97FF8C;
}

table.three {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

table.three td {
  border-bottom: 1px solid #cecfd5;
  padding: 10px 20px;
  text-align: left;
}

table.three td:hover {
  font-weight: bold;
}

table.three th {
  padding: 30px 20px;
  text-decoration: none;
}

table.three .columns {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: black;
}

table.three .columns th:nth-child(2) {
  background-color: white;
}

table.three .columns {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: black;
}

table.three td {
  font-weight: 500;
  padding: 20px 20px;
}

table.three a {
  text-decoration: none;
  color: blue;
}

.last_part {
  margin: 40px auto 60px auto;
  border: 3px black solid;
  padding: 20px 0;
}


.last_part:nth-child(3n) {
  font-weight: bold;
}

.redText {
  color: red;
}

.maps {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 180px;
  border-color: darkgreen;
  border-style: dotted;
}

.maps:hover {
  transform: scale(1.1);
}

.venue-school {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.venue-school .school-name {
  width: 600px;
  text-align:center;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.venue-school a {
  font-weight: bold;
  text-decoration: none;
  color: darkblue;
}


.venue-school p {
  font-weight: bold;
}

#game-info-title {
  margin: 25px 0;
  text-align: center;
}

#game-info-title h1 {
  font-size: 30px;
  font-weight: bold;
}

section iframe {
  margin: 0 50px;
  float: center;
}

#contact_info {
  margin: 100px 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* game info */
#game_text {
  width: 85%;
  margin: 0 auto;
}

#game-info-title h1 {
  padding-bottom: 20px;
}

#game-info-title p {
 padding-bottom: 15px;
}

button.go_back_button {
  padding: 0;
  background-color: green;
  border-radius: 10px;
  height: 30px;
  z-index: 999;
}

button.go_back_button a {
  font-size: 14px;
  color: black;
  margin: 0 10px;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  text-decoration: none;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact_info button.go_back_button {
  position: relative;
  left: 450px;
}

#contact_info .right a {
  text-decoration: none;
}

/*
registration form start
*/
.registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registration-container h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}

.registration-container .button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.registration-container .button input {
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  height: 40px;
  font-weight: bold;
  border: 1.5px solid black;
  font-size: 20px;
}

.registration {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.registration .box {
  background-color: lightsteelblue;
  width: 45%;
  height: 50px;
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.registration .wide-box {
  background-color: lightsteelblue;
  width: 90%;
  height: 50px;
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.form-label {
  font-size: 20px;
}

.form-input {
  border-radius: 5px;
  height: 25px;
  width: 200px;
  border: 1px solid grey;
}

.form-select {
  border-radius: 5px;
  height: 25px;
  width: 200px;
  margin: 0 20px 0 0;
}

.form-margin {
  margin: 0 20px;
}

.box.invisible {
  background-color: white;
}

.sub-form-title {
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin: 0 0 3px 60px;
}

.wide-box #checkbox, .wide-box #radio {
  margin: 30px;
}

.wide-box #checkbox input {
  margin: 0 12px;
}

.wide-box #radio input {
  margin: 0 12px;
}

.gender-box {
  margin: 0 20px 0 0;
}

.gender-box input {
  margin: 0 10px;
}

.signature .wide-box {
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature .wide-box label {
  margin: 0 20px;
}

/* permission start */
.permission {
  width: 70%;
  margin: 15px 0;
}

.permission h4 {
  font-weight: bold;
  font-size: 20px;
}
/* permission end */
 .black_box {
   height: 20px;
   background-color: black;
 }

 .white_box {
   height: 20px;
 }
/*
registration form end
*/

/* images */
.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "first_row first_row first_row"
    "row row row"
    "row row row"
    "row row row";
  column-gap: 10px;
  justify-content: center;
  padding: 0 0 40px 0;
}

.container img {
  width: 100%;
  height: 85%;
  border: 2px solid black;
  border-radius: 4px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.first-row {
  grid-column: 1/ 4;
  grid-row: 1;
  text-align: center;
  background-color: steelblue;
  padding: 20px 20px;
  margin: 20px 20px;
  border: 2px black solid;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* submit form */
table#submitform {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid black;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 40px auto;
}

table#submitform th {
  font-weight: bold;
  border: 1px solid black;
}

table#submitform td {
  font-weight: bold;
  border-right: 1px solid black;
  margin-bottom: 40px;
}

table#submitform td:hover {
  background-color: #2D893C;
  color: black;
}

#empty {
  height: 20px;
  width: 100%;
}
